<template>
  <div class="site" @mousemove="updatePosition">
    <transition name="fade">
      <div v-if="showHeader" class="body">
        <div>
          <h1 class="center-head">Make your photo site</h1>
        </div>
        <div class="photo-body">
          <div class="photo-container" id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
            <img v-for="(image, index) in images" :key="index" :src="image" class="photo" draggable="false" />
            <div class="photo2">
              <label for="fileInput" class="upload-button2"><svg width="800px" height="800px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M160 832h704a32 32 0 1 1 0 64H160a32 32 0 1 1 0-64zm384-578.304V704h-64V247.296L237.248 490.048 192 444.8 508.8 128l316.8 316.8-45.312 45.248L544 253.696z"/></svg></label>
              <input type="file" id="fileInput" class="file-input" @change="uploadImage"/>
            </div>
          </div>
        </div>
      </div>
      <div v-else-if="loading">
        <div class="center">
          <h1>Loading...</h1>
          <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
      </div>
      <div v-else class="center">
        <h1>Make your photo site</h1>
        <label for="fileInput1" class="upload-button">Upload</label>
        <input type="file" id="fileInput1" class="file-input" @change="uploadImage"/>
      </div>
    </transition>
  </div>
</template>

<script>


export default {
  name: 'App',
  data() {
    return {
      images: [],
      showHeader: false,
      value: 1,
      loading: false
    }
  },
  methods: {
    uploadImage(event) {
      setTimeout(() => {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.onload = (e) => {
          this.images.push(e.target.result);
        };
        reader.readAsDataURL(file);
      }, 1000)

      this.loading = true
      setTimeout(() => {
        this.loading = false
      }, 3000)
      setTimeout(() => {
        this.showHeader = true
      }, 3050)
    },
    updatePosition() {
      const track = document.getElementById("image-track")

      window.onmousedown = e => {
        track.dataset.mouseDownAt = e.clientX
      }

      window.onmouseup = () => {
        track.dataset.mouseDownAt = "0"
      }

      window.onmousemove = e => {
        if (track.dataset.mouseDownAt === "0") return

        const mouseDelta = parseFloat(track.dataset.mouseDownAt) - e.clientX,
            maxDelta = window.innerWidth / 0.05

        let percentage = (mouseDelta / maxDelta) * -100
        percentage += parseFloat(track.dataset.prevPercentage)

        const MAX_PERCENTAGE = 100;
        const MIN_PERCENTAGE = -100;

        if (percentage > MAX_PERCENTAGE) {
          percentage = MAX_PERCENTAGE;
        } else if (percentage < MIN_PERCENTAGE) {
          percentage = MIN_PERCENTAGE;
        }

        track.style.transform = `translate(${percentage}%, -50%)`
        track.dataset.prevPercentage = percentage

      }
    }
  }
}
</script>

<style>

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.photo-container {
  display: flex;
  gap: 4vmin;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);

}

.photo {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
  border-radius: 0.2em;
}

.photo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vmin;
  height: 56vmin;
  border-radius: 0.2em;
  opacity: 35%;
}

.photo-body {
  width: 100vw;
  margin: 0rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.center-head{
  display: flex;
  justify-content: center;
}

.upload-button {
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: #4caf50;
  color: white;
  border-radius: 0.2em;
  display: inline-block;
  font-family: Inconsolata;
}

.upload-button2 {
  cursor: pointer;
  padding: 0.5em 1em;
  color: white;
  background-color: dimgray;
  border-radius: 0.2em;
  width: 39vmin;
  height: 55vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 35%;
  font-family: Inconsolata;
}

.upload-button2 svg{
  width: 20vmin;
  height: 56vmin;
}

.file-input {
  display: none;
}

html {
  background-color: black;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: white;
  font-family: Inconsolata;
}

body {
  display: flex;
  flex-direction: column;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

</style>
